@charset "utf-8";



/* ===== MAIN NEW SETTING ===== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family:'Montserrat','Pretendard',sans-serif; 
}
body{ 
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
:focus {
    outline: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
} 
ol, ul {
    list-style: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
* {
    box-sizing: border-box;
    word-break: keep-all;
}
input, select, textarea, button {
    margin: 0;
    border: none;
    border-radius: 0;
    background: none;
    outline: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
select {
    border: 0;
    width: 100%;
}

input[type=text]::-ms-clear {
    display: none;
}

input[type="button"],
button {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

button {
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button:focus, button:active,
input:focus, input:active,
select:focus, select:active,
textarea:focus, textarea:active {
    outline: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    max-width:100%;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}





/* ===== COMMON ===== */
/*.has-scroll-smooth.mobile body { position:fixed; top:0; left:0; right:0; bottom:0;}*/
.scrollhide { 
    overflow: hidden !important; 
    height:100% !important;
}
.maxinner {
    margin:0 auto;
    max-width:150em;
    width:90%;
}
.smooth-scroll {
    overflow:hidden;
}
.main-tit .tit {
    font-size:4.6rem;
    color:#111;
    font-weight:700;
    line-height:1.087em;
    letter-spacing:-0.011em;
}
.fixee{z-index:99;} 
.gall-youtube video{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    height: 100%;
    min-width: 100%;
    transform:translate(-50%,-50%);
}





/* ===== BTN VIEWMORE ===== */
.btn-viewmore {
    display:inline-block;
    padding:0.313em 0;
    font-size:1.6rem;
    color:#fff;
    font-weight:600;
    vertical-align:middle;
}
.btn-viewmore i {
    display:inline-block;
    margin-left:1.375em;
    width:1.75em;
    height:1.5em;
    background:url(/img/ico/ico-viewmore.png) no-repeat center;
    background-size:100%;
    vertical-align:middle;
}
.btn-viewmore:hover i{
    -webkit-animation: viewMoreAni 1s linear infinite;
    -moz-animation: viewMoreAni 1s linear infinite;
    -ms-animation: viewMoreAni 1s linear infinite;
    -o-animation: viewMoreAni 1s linear infinite;
    animation: viewMoreAni 1s linear infinite;
}
.btn-viewmore.blue {
    color:#0042bf;
}
.btn-viewmore.blue i{
    background:url(/img/ico/ico-viewmore-blue.png) no-repeat center;
}
@-webkit-keyframes viewMoreAni {
    0% {
        opacity: 1; 
        transform: translateX(0px) scale(1);
    }
    25%{
        opacity: 0; 
        transform:translateX(10px) scale(0.9);
    }
    26%{
        opacity: 0; 

        transform:translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1; 
        transform: translateX(0px) scale(1);
    }
}
@-moz-keyframes viewMoreAni {
    0% {
        opacity: 1; 
        transform: translateX(0px) scale(1);
    }
    25%{
        opacity: 0; 
        transform:translateX(10px) scale(0.9);
    }
    26%{
        opacity: 0; 

        transform:translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1; 
        transform: translateX(0px) scale(1);
    }
}
@-ms-keyframes viewMoreAni {
    0% {
        opacity: 1; 
        transform: translateX(0px) scale(1);
    }
    25%{
        opacity: 0; 
        transform:translateX(10px) scale(0.9);
    }
    26%{
        opacity: 0; 

        transform:translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1; 
        transform: translateX(0px) scale(1);
    }
}
@-o-keyframes viewMoreAni {
    0% {
        opacity: 1; 
        transform: translateX(0px) scale(1);
    }
    25%{
        opacity: 0; 
        transform:translateX(10px) scale(0.9);
    }
    26%{
        opacity: 0; 

        transform:translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1; 
        transform: translateX(0px) scale(1);
    }
}
@keyframes viewMoreAni {
    0% {
        opacity: 1; 
        transform: translateX(0px) scale(1);
    }
    25%{
        opacity: 0; 
        transform:translateX(10px) scale(0.9);
    }
    26%{
        opacity: 0; 

        transform:translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1; 
        transform: translateX(0px) scale(1);
    }
}





/* ===== CURSOR ===== */
.cursor {
    pointer-events: none;
}
.cursor .cursor-ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 5000;
}  
.cursor .cursor-ball .text {
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    font-size:2.1rem;
    color:#fff;
    font-weight:700;
}
.cursor .cursor-ball circle {
    fill: #f7f8fa;
} 
.cursor-able {
    cursor:pointer;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cursor .cursor-ball circle{
        fill: #0042bf;
    }
}





/* ===== INTRO ===== */
#main-intro {
    height:400vh;
    background-color:#0042bf;
    -webkit-transition:background-color 0.7s;
    -moz-transition:background-color 0.7s;
    -ms-transition:background-color 0.7s;
    -o-transition:background-color 0.7s;
    transition:background-color 0.7s;
}
#main-intro * {
    will-change:transform;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}
#main-intro .intro-pin {
    position:relative;
    height:100vh;
}
#main-intro .intro-copy {
    position:relative;
    width:100%;
    height:100%;
}
#main-intro .intro-copy .intro-copy-con {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
#main-intro .intro-copy .intro-copy-con h1 {
    position:absolute;
    left:50%;
    top:12.5%;
    max-width: 1500px;
    width: 90%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#main-intro .intro-copy .intro-copy-con h1 span {
    display:block;
    font-size:10rem;
    color:#fff;
    font-weight:700;
    letter-spacing:-0.031em;
    line-height:1;
}
#main-intro .intro-copy .intro-copy-con .scrolldown {
    position:absolute;
    right:calc(6.1% + 4em);
    margin-right:-4em;
    width:8em;
    bottom:4.5%;
    text-align:center;
}
#main-intro .intro-copy .intro-copy-con .scrolldown i {
    display:inline-block;
    position:relative;
    width:20px;
    height:35px;
    border:2px solid #fff;
    border-radius:15px;
}
#main-intro .intro-copy .intro-copy-con .scrolldown i:after {
    content:"";
    position:absolute;
    left:50%;
    top:5px;
    margin-left:-1.5px;
    width:3px;
    height:6px;
    border-radius:2px;
    background:#fff;
    -webkit-animation: scrollDown 1.4s infinite;
	-moz-animation: scrollDown 1.4s infinite;
	-ms-animation: scrollDown 1.4s infinite;
	-o-animation: scrollDown 1.4s infinite;
	animation: scrollDown 1.4s infinite;
}
#main-intro .intro-copy .intro-copy-con .scrolldown p {
    margin-top:0.556em;
    font-size:1.4rem;
    color:#fff;
    font-weight:600;
}
/* main scroll down */
@-webkit-keyframes scrollDown {
    0%{
    	top: 5px;
    }
	100% {
		top: 20px;
	}
}
@-moz-keyframes scrollDown {
    0%{
    	top: 5px;
    }
	100% {
		top: 20px;
	}
}
@-ms-keyframes scrollDown {
    0%{
    	top: 5px;
    }
	100% {
		top: 20px;
	}
}
@-o-keyframes scrollDown {
    0%{
    	top: 5px;
    }
	100% {
		top: 20px;
	}
}
@keyframes scrollDown {
    0%{
    	top: 5px;
    }
	100% {
		top: 20px;
	}
}
#main-intro .intro-btn {
    overflow:hidden;
    position:absolute;
    right:2.6%;
    top:5.5%;
    z-index:10;
    width:6.5em;
    height:6.5em;
    border-radius:50%;
    background:#fff;
    -webkit-box-shadow:1px 0px 8px rgba(0,66,191,0.1);
    box-shadow:1px 0px 8px rgba(0,66,191,0.1);
    -webkit-transition:background-color 0.7s;
    -moz-transition:background-color 0.7s;
    -ms-transition:background-color 0.7s;
    -o-transition:background-color 0.7s;
    transition:background-color 0.7s;    
}
#main-intro .intro-btn .menubtn {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
#main-intro .intro-btn .menubtn .menubar {
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
#main-intro .intro-btn .menubtn .menubar .bar {
    background-color:#0042bf;
}
#main-intro .intro-gallery {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
#main-intro .intro-gallery .gall-list {
    height:100%;   
}
#main-intro .intro-gallery .gall-list .gall-item {
    overflow:hidden;
    position:absolute;
    left:50%;
    top:100%;
}
#main-intro .intro-gallery .gall-list .gall-item .gall-item-con {
    overflow:hidden;        
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
#main-intro .intro-gallery .gall-list .gall-item .gall-item-con.gall-youtube a:after {
	content:"";
	position:absolute;
	left:50%;
	top:50%;
	z-index:1;
	width:70px;
	height:70px;
	background-color:rgba(0,0,0,0.5);
	border:2px solid #fff;
	border-radius:50%;
	-webktit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
#main-intro .intro-gallery .gall-list .gall-item .gall-item-con.gall-youtube:before {
	content:"";
	position:absolute;
	left:50%;
	top:50%;
	z-index:1;
	margin-left:6px;
	border:8px solid transparent;
	border-left:12px solid #fff;
	-webktit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);	
    pointer-events: none;
}
#main-intro .intro-gallery .gall-list .gall-item a {
    overflow:hidden;        
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
#main-intro .intro-gallery .gall-list .gall-item a:before {
	content:''; 
	width:100%;
	height:50%;
	background:linear-gradient(to top, rgba(0,39,112,0.65), transparent);
	position:absolute;
	left:0;
	bottom:0;
	z-index:1;
}
#main-intro .intro-gallery .gall-list #gall-item01 {
	padding-bottom:17.813%;
    width:17.813%;
    -webkit-transform:translate(160.35%, 0%);
    -moz-transform:translate(160.35%, 0%);
    -ms-transform:translate(160.35%, 0%);
    -o-transform:translate(160.35%, 0%);
    transform:translate(160.35%, 0%);
}
#main-intro .intro-gallery .gall-list #gall-item01 a {
	overflow:hidden;
	border-radius:50%;
}
#main-intro .intro-gallery .gall-list #gall-item02 {
	padding-bottom:38.542%;
    width:27.6045%;
    -webkit-transform:translate(-22.6%, 0%);
    -moz-transform:translate(-22.6%, 0%);
    -ms-transform:translate(-22.6%, 0%);
    -o-transform:translate(-22.6%, 0%);
    transform:translate(-22.6%, 0%);
}
#main-intro .intro-gallery .gall-list #gall-item03 {
	padding-bottom:16.146%;
    width:19.792%;
    -webkit-transform:translate(134.2%, 0%);
    -moz-transform:translate(134.2%, 0%);
    -ms-transform:translate(134.2%, 0%);
    -o-transform:translate(134.2%, 0%);
    transform:translate(134.2%, 0%);
}
#main-intro .intro-gallery .gall-list #gall-item03 a {
	border-radius:5em;
}
#main-intro .intro-gallery .gall-list #gall-item04 {
	padding-bottom:40.625%;
    width:27.084%;
    border-radius:9.5em;
    -webkit-transform:translate(-23%, 0%);
    -moz-transform:translate(-23%, 0%);
    -ms-transform:translate(-23%, 0%);
    -o-transform:translate(-23%, 0%);
    transform:translate(-23%, 0%);
}
#main-intro .intro-gallery .gall-list #gall-item04 a {
	border-radius:9.5em;
}
#main-intro .intro-gallery .gall-list #gall-item05 {
	padding-bottom:20.834%;
    width:20.834%;
    -webkit-transform:translate(-30%, 0%);
    -moz-transform:translate(-30%, 0%);
    -ms-transform:translate(-30%, 0%);
    -o-transform:translate(-30%, 0%);
    transform:translate(-30%, 0%);
}
#main-intro .intro-gallery .gall-list #gall-item05 a {
	border-radius:50%;
}
#main-intro .intro-gallery .gall-list #gall-item06 {
	padding-bottom:17.657%;
    width:25.782%;
    -webkit-transform:translate(79.7%, 0%);
    -moz-transform:translate(79.7%, 0%);
    -ms-transform:translate(79.7%, 0%);
    -o-transform:translate(79.7%, 0%);
    transform:translate(79.7%, 0%);
}
#main-intro .intro-gallery .gall-list .gall-item .img {
    overflow:hidden;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
#main-intro .intro-gallery .gall-list .gall-item iframe {
    width:100%;
    height:100%;
}
#main-intro .intro-gallery .gall-list .gall-item .img > div {
    overflow:hidden;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
#main-intro .intro-gallery .gall-list .gall-item .desc {
    position:absolute;
    left:7em;
    bottom:4em;
    z-index:1;
    width:calc(100% - 14em);
    text-align: center;
	z-index:2;
}
#main-intro .intro-gallery .gall-list .gall-item .desc span {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:block;
    font-size:1.6rem;
    color:#fff;
    letter-spacing:-0.016em;
}
#main-intro .intro-gallery .gall-list .gall-item .desc p {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin-top:0.6em;
    font-size:2.6rem;
	font-weight:700;
    color:#fff;
}
#main-intro .intro-btnwrap {
    position: absolute;
    left: 50%;
    top: 12.5%;
	margin-top:40em;
    max-width: 1500px;
    width: 90%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
	pointer-events:none;
}
#main-intro .intro-btnwrap .maxinner {
	display:inline-block;
    padding-left:0.5em;
	max-width:none;
	width:auto;
	pointer-events:auto;
}
.fixee{z-index:99;} 
.gall-youtube video{position: absolute;top: 50%;left: 50%;z-index: -1;height: 100%;min-width: 100%; transform:translate(-50%,-50%);}



/* ===== INTRO PC ANIMATION ===== */
@media all and (min-width:1201px){
    #main-intro .intro-gallery .gall-list .gall-item .img > div {
        -webkit-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -moz-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -ms-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -o-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
    }
    #main-intro .intro-gallery .gall-list .gall-item .img:after {
        content:"";
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        height:0;
        background:#0042bf;
        mix-blend-mode:screen;
        -webkit-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -moz-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -ms-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -o-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);    
    }
    #main-intro .intro-gallery .gall-list .gall-item a:hover .img:after {
        height:100%;
    }
    #main-intro .intro-gallery .gall-list .gall-item a:hover .img div {
        -webkit-filter: grayscale(100%);
        filter:grayscale(100%);
        -webkit-transform:scale(1.2) rotate(0.01deg);
        -moz-transform:scale(1.2) rotate(0.01deg);
        -ms-transform:scale(1.2) rotate(0.01deg);
        -o-transform:scale(1.2) rotate(0.01deg);
        transform:scale(1.2) rotate(0.01deg);
    }
    #main-intro .intro-gallery .gall-list .gall-item a video,
    #main-intro .intro-gallery .gall-list .gall-item a img {
        -webkit-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -moz-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -ms-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -o-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);         
    }
	#main-intro .intro-gallery .gall-list .gall-item a:hover img,
    #main-intro .intro-gallery .gall-list .gall-item a:hover video {
        -webkit-filter: grayscale(100%);
        filter:grayscale(100%);
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #main-intro .intro-gallery .gall-list .gall-item .img:after{
        opacity: 0.5;
    }
    #main-intro .intro-gallery .gall-list .gall-item a:hover .img:after{
        opacity:0.5;
    }
    
}

/* ===== INTRO en ===== */
#main-intro.en {
    background-color: #fff;
}
#main-intro.en .intro-copy .intro-copy-con h1 span {
    color: #0042bf;
}
#main-intro.en .intro-gallery .gall-list .gall-item .desc p {
	overflow: visible;
    text-overflow: initial;
    white-space: initial;
	font-size:1.9rem;
}



/* ===== INTRO - LOADING ===== */
.live-ing #main-intro {
    background-color:#fff;
}
.live-ing #main-intro .intro-copy .intro-copy-con h1 span {
    color:#0042bf;
}
.live-ing #main-intro .intro-copy .intro-copy-con .scrolldown i {
    border-color:#0042bf;
}
.live-ing #main-intro .intro-copy .intro-copy-con .scrolldown i:after {
    background-color:#0042bf;
}
.live-ing #main-intro .intro-copy .intro-copy-con .scrolldown p {
    color:#0042bf;
}
.live-ing #main-intro .intro-copy .intro-copy-con h1:after {
	background:#0042bf;
}



  


/* ===== MAIN - VISUAL ===== */
#main-contents {
    position: relative;
}
.main-visual {
	position:relative;
    margin:0 auto;
    height:100vh;
}
.main-visual .visual-slider {
    overflow:hidden;
	position:absolute;
	left:50%;
	top:50%;
	width:100%;
	height:100%;
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);  
}
.main-visual .visual-slider .swiper-slide {
	overflow:hidden;
    position:relative;
    height:100%;
}
.main-visual .visual-slider .swiper-slide .vs-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);   
	transition-duration:3s;
}
.main-visual .visual-slider .swiper-slide .vs-txt {
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;
    margin:0 auto;
    max-width:150em;
    width:90%;
    height:100%;
    z-index:1;
}
.main-visual .visual-slider .swiper-slide .vs-txt h2 {
	opacity:0;
    font-size:7.5rem;
    color:#ffffff;
    font-weight:700;
	-webkit-transform:translateY(40px);
	-moz-transform:translateY(40px);
	-ms-transform:translateY(40px);
	-o-transform:translateY(40px);
	transform:translateY(40px);      
}
.main-visual .visual-slider .swiper-slide .vs-txt p {
	opacity:0;
    margin-top:1.389em;
    font-size:2.4rem;
    color:#ffffff;
    letter-spacing:-0.028em;
    line-height:1.556em;
	-webkit-transform:translateY(40px);
	-moz-transform:translateY(40px);
	-ms-transform:translateY(40px);
	-o-transform:translateY(40px);
	transform:translateY(40px);   
	font-weight:500;
}
.main-visual .visual-slider .swiper-button-prev {
    position:absolute;
    left:auto;
    right:8.5%;
    top:50%;
    z-index:10;
    margin-top:-9.5em;
    width:7em;
    height:7em;
    border-radius:50%;
    border:1px solid #fff;
    background:url(/img/bu/bu-arrow-prev.png) no-repeat center;
}
.main-visual .visual-slider .swiper-button-prev:after {
    display:none;
}
.main-visual .visual-slider .swiper-button-next {
    position:absolute;
    right:8.5%;
    top:50%;
    z-index:10;
    margin-top:-1.5em;
    width:7em;
    height:7em;
    border-radius:50%;
    border:1px solid #fff;
    background:url(/img/bu/bu-arrow-next.png) no-repeat center;
}
.main-visual .visual-slider .swiper-button-next:after {
    display:none;
}
.main-visual .visual-slider .swiper-pagination {
    position:absolute;
    right:8.5%;
    top:50%;
    left:auto;
    bottom:auto;
    z-index:10;
    margin-top:7.083em;
    width:5.833em;
    font-size:1.2rem;
    color:#ffffff;
    letter-spacing:0.333em;
    font-style:italic;
}
.main-visual .visual-slider .swiper-pagination span {
    font-style:normal;
}
.main-visual .visual-slider .swiper-slide.swiper-slide-active .vs-bg {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	-webkit-transition:transform 1.4s;
	-moz-transition:transform 1.4s;
	-ms-transition:transform 1.4s;
	-o-transition:transform 1.4s;
	transition:transform 1.4s;
}
.main-visual .visual-slider .swiper-slide.swiper-slide-active .vs-txt h2 {
	opacity:1;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition:opacity 1s, transform 1.4s;
	-moz-transition:opacity 1s, transform 1.4s;
	-ms-transition:opacity 1s, transform 1.4s;
	-o-transition:opacity 1s, transform 1.4s;
	transition:opacity 1s, transform 1.4s;		
}
.main-visual .visual-slider .swiper-slide.swiper-slide-active .vs-txt p {
	opacity:1;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition:opacity 1s, transform 1.4s;
	-moz-transition:opacity 1s, transform 1.4s;
	-ms-transition:opacity 1s, transform 1.4s;
	-o-transition:opacity 1s, transform 1.4s;
	transition:opacity 1s, transform 1.4s;	
	-webkit-transition-delay:0.1s;
	-moz-transition-delay:0.1s;
	-ms-transition-delay:0.1s;
	-o-transition-delay:0.1s;
	transition-delay:0.1s;
}






/* ===== MAIN - SNS ===== */
.main-sns {
    position:relative;
    padding:12em 0;
    background:#fff;
    z-index:1;
}

.main-sns:before {
    content:"";
    position:absolute;
    left:0;
    top:-9em;
    width:75.834%;
    height:62.17%;
    /*background:#f7f9fd;*/
	z-index:-1;
}

.main-sns .main-tit {
	position:relative;
    margin:0 auto;
    max-width:150em;
	width:90%;
}
.main-sns .sns-slider {
    overflow:visible;
    margin-top:6em;
    max-width:150em;
    margin-left:auto;
    margin-right:auto;
	width:90%;
}
.main-sns .sns-slider a {
	display:block;
}
.main-sns .sns-arrow {
	position:absolute;
	right:0;
	top:0;
	height:100%;
}
.main-sns .sns-arrow .swiper-button-prev {
    position:absolute;
	left:auto;
    right:0;
    top:50%;
    z-index:10;
    margin:0;
	margin-right:8em;
	margin-top:-3.5em;
    width:7em;
    height:7em;
    border-radius:50%;
    border:1px solid #fff;
    background:url(/img/bu/bu-arrow-prev.png) no-repeat center;
	background-color:#0042bf;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;	
}
.main-sns .sns-arrow .swiper-button-prev:hover {
	background-color:#0042bf;
}
.main-sns .sns-arrow .swiper-button-prev:after {
    display:none;
}
.main-sns .sns-arrow .swiper-button-next {
    position:absolute;
    right:0;
    top:50%;
    z-index:10;
    margin:0;
	margin-top:-3.5em;
    width:7em;
    height:7em;
    border-radius:50%;
    border:1px solid #fff; 
	background:url(/img/bu/bu-arrow-next.png) no-repeat center;
	background-color:#0042bf;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.main-sns .sns-arrow .swiper-button-next:hover {
	background-color:#0042bf;
}
.main-sns .sns-arrow .swiper-button-next:after {
    display:none;
}
.main-sns .sns-slider .img{
    overflow:hidden;
    position:relative;
    padding-bottom:100%;
    width:100%;
    height:0;
}
.main-sns .sns-slider .img .ico {
	position:absolute;
	right:2em;
	top:2em;
	z-index:10;
	width:4.5em;
	height:4.5em;
	border-radius:50%;
	background-color:rgba(0,0,0,0.5);
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-transition:background-color 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
	-moz-transition:background-color 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
	-ms-transition:background-color 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
	-o-transition:background-color 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
	transition:background-color 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);	
}
.main-sns .sns-slider .img .ico-youtube {
	background-image:url(/img/ico/ico-youtube-white.png);
}
.main-sns .sns-slider .img .ico-facebook {
	background-image:url(/img/ico/ico-facebook-white.png);
}
.main-sns .sns-slider .img .ico-blog {
	background-image:url(/img/ico/ico-blog-white.png);
}
.main-sns .sns-slider .img .ico-instagram {
	background-image:url(/img/ico/ico-instagram-white.png);
}
.main-sns .sns-slider .img .ico-linkedin {
	background-image:url(/img/ico/ico-linkedin-white.png);
}
.main-sns .sns-slider .img > div {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}
.main-sns .sns-slider .txt { 
    margin-top:3em;
}
.main-sns .sns-slider .txt p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height:2.5em;
    font-size:2.4rem;
    color:#111111;
    font-weight:600;
    letter-spacing:-0.021em;
	line-height:1.25em;
}
.main-sns .sns-slider .txt span {
    display:block;
    margin-top:0.938em;
    font-size:1.6rem;
    color:#777777;
    letter-spacing:-0.031em;
}
.main-sns .sns-slider .swiper-pagination {
    display:none;
}


.en-wrap .main-sns .sns-slider .txt p {
    letter-spacing: -0.04em;
}



/* ===== INTRO PC ANIMATION ===== */
@media all and (min-width:1201px){
    .main-sns .sns-slider .img > div {
        -webkit-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -moz-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -ms-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -o-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
    }
    .main-sns .sns-slider .img:after {
        content:"";
		opacity:1;
        position:absolute;
        left:0;
        bottom:0;
		z-index:1;
        width:100%;
        height:0;
        background:#0042bf;
        mix-blend-mode:screen;
        -webkit-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -moz-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -ms-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -o-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);    
    }
    .main-sns .sns-slider a:hover .img:after {
        height:100%; 
    }
    .main-sns .sns-slider a:hover .img > div {
        -webkit-filter: grayscale(100%);
        filter:grayscale(100%);
        -webkit-transform:scale(1.2) rotate(0.01deg);
        -moz-transform:scale(1.2) rotate(0.01deg);
        -ms-transform:scale(1.2) rotate(0.01deg);
        -o-transform:scale(1.2) rotate(0.01deg);
        transform:scale(1.2) rotate(0.01deg);
    }
    .main-sns .sns-slider a:hover .img .ico {
    	background-color:#0042bf;
    } 
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .main-sns .sns-slider .img:after {
        opacity:0.5;
    }
}





/* ===== MAIN - NEWS ===== */
.main-news {
	overflow:hidden;
	position:relative;
    padding:12em 0 54em;
    background:#0042bf;
}
.main-news .news-con .main-tit .tit {
    margin-bottom:1.304em;
    color:#fff;
}
.main-news .news-con .maxinner {
    display:flex;
    position:relative;
}
.main-news .news-con .left {
    width:40%;
}
.main-news .news-con .right {
    width:60%;
}
.main-news .news-con .news-list {
    border-top:2px solid #fff;
}
.main-news .news-con .news-list li {
    border-bottom:2px solid #fff;
}
.main-news .news-con .news-list li a {
    display:block;
    padding:5em 3em;
}
.main-news .news-con .news-list li h3 {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:2.4rem;
    color:#fff;
    font-weight:600;
    letter-spacing:-0.021em;
}
.main-news .news-con .news-list li p {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin:1em 0 0;
    font-size:1.6rem;
    color:#fff;
    line-height:1.625em;
    letter-spacing:-0.013em;
}
.main-news .news-con .news-list li span {
	margin-top:0.5em;
	display:inline-block;
    font-size:1.5rem;
    color:#fff;
    font-weight:600;   
    letter-spacing:-0.033em;
}
.main-news .news-con .news-list li .cursor-imgbox {
    position:absolute;
    left:0;
    bottom:0;
    z-index:10;
    width:40em;
    height:33em;
	overflow:hidden;
}
.main-news .news-con .news-list li .cursor-imgbox .img {
    display: block;
    width: 100%;
    height: 100%;
}
.main-news .news-con .news-list li .cursor-imgbox .img:after {
	content:"";
	position:absolute;
	right:0;
	top:0;
	z-index:1;
	width:100%;
	height:100%;
	background:#0042bf;
	mix-blend-mode:screen;
}
.main-news .news-con .news-list li .cursor-imgbox .img > div {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	-webkit-filter: grayscale(100%);
	filter:gray;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.main-news .news-con .news-list li .cursor-imgbox .img img {
	-webkit-filter: grayscale(100%);
	filter:gray;
}
@media screen and (min-width:1201px){
	.main-news .news-con .news-list li .cursor-imgbox .img {
	    -webkit-clip-path: inset(0 100% 0 0);
	    clip-path: inset(0 100% 0 0);
	    -webkit-transition: clip-path .3s cubic-bezier(.33,1,.68,1);
	    -moz-transition: clip-path .3s cubic-bezier(.33,1,.68,1);
	    -ms-transition: clip-path .3s cubic-bezier(.33,1,.68,1);
	    -o-transition: clip-path .3s cubic-bezier(.33,1,.68,1);
	    transition: clip-path .3s cubic-bezier(.33,1,.68,1);
	}
	.main-news .news-con .news-list li.cursor-active .cursor-imgbox .img {
	    -webkit-clip-path: inset(0 -1% 0 0);
	    clip-path: inset(0 -1% 0 0);
	    -webkit-transition: clip-path .45s cubic-bezier(.33,1,.68,1) .3s;
	    -moz-transition: clip-path .45s cubic-bezier(.33,1,.68,1) .3s;
	    -ms-transition: clip-path .45s cubic-bezier(.33,1,.68,1) .3s;
	    -o-transition: clip-path .45s cubic-bezier(.33,1,.68,1) .3s;
	    transition: clip-path .45s cubic-bezier(.33,1,.68,1) .3s;
	    z-index: 5;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .main-news .news-con .news-list li .cursor-imgbox .img {
        opacity: 0;
        visibility: hidden;
        clip-path: none !important; 
    }
    .main-news .news-con .news-list li .cursor-imgbox .img:after {
        opacity: 0.2;
    }
    .main-news .news-con .news-list li.cursor-active .cursor-imgbox .img {
        opacity:0.5;
        visibility: visible;
        mix-blend-mode:normal
    }
}

.main-news .value-con {
    overflow: hidden;
    position: absolute;
    left:0;
    bottom:-1px;
    width:100%;
}
.main-news .value-con .value-pin {
    padding:12em 0;
}
.main-news .value-con .value-pin h2 {
    position:relative;
    padding-left:0.714em;
    font-size:7rem;
    color:#fff;
    line-height:1.286em;
    font-weight:700;
}
.main-news .value-con .value-pin h2:after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:40px;
    height:30px;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center center;
}
@media all and (min-width:1025px){
	.main-news .value-con .value-pin h2 span {
		position:relative;
	}
	.main-news .value-con .value-pin h2 span:after {
		content:"";
		position:absolute;
		left:0;
		bottom:-3px;
		width:0;
		height:5px;
		background:#0042bf;
	}
	.main-news .value-con .value-pin h2 a:hover span:after {
		width:100%;
		-webkit-transition:width 0.3s;
		transition:width 0.3s;
	}
	.main-news .value-con .value-pin h2 a:hover span:last-child:after {
		-webkit-transition-delay:0.15s;
		transition-delay:0.15s;
	}
	.main-news .value-con .value-pin.blue-sec h2 span:after {
		background-color:#fff;
	}	
}
.main-news .value-con .value-pin.blue-sec {
    background:#0042bf;
}
.main-news .value-con .value-pin.blue-sec h2 {
    color:#fff;
}
.main-news .value-con .value-pin.blue-sec h2:after{
    background-image:url(/img/ico/ico-quote.png);
}
.main-news .value-con .value-pin.white-sec {
    position: absolute;
    left:0;
    top:0;
    z-index:10;
    width:100%;
    height:100%;
    background:#fff;
    -webkit-clip-path: polygon(0 100%,100% 100%,100% 100%,0 100%);
    clip-path: polygon(0 100%,100% 100%,100% 100%,0 100%);
}
.main-news .value-con .value-pin.white-sec h2 {
    color:#0042bf;
}
.main-news .value-con .value-pin.white-sec h2:after{
    background-image:url(/img/ico/ico-quote-blue.png);
}





/* ===== MAIN - BUSINESS ===== */
.main-business {
    position:relative;
    padding:12em 0;
    background:#fff;
}
.main-business:after {
    content:"";
    position:absolute;
    right:0;
    bottom:-9em;
    width:75.834%;
    height:62.17%;
    /*background:#f7f9fd;*/
}
.main-business .business-slider {
    margin-top:6em;
}
.main-business .business-slider .swiper-slide a {
    overflow:hidden;
    display:block;
    height:66em;
}
.main-business .business-slider .swiper-slide .thumb {
    overflow:hidden;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.main-business .business-slider .swiper-slide .thumb > div {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.main-business .business-slider .swiper-slide .txt {
    position:absolute;
    left:5em;
    bottom:5em;
	width:calc(100% - 10em);
    z-index:10;
}
.main-business .business-slider .swiper-slide .txt span {
    display:block;
    font-size:1.6rem;
    color:#fff;
    letter-spacing:-0.031em;
}
.main-business .business-slider .swiper-slide .txt p {
    margin-top:0.833em;
    font-size:2.4rem;
    color:#ffffff;
    font-weight:600;
}


/* PC SLIDER */
@media screen and (min-width:1201px){
	.main-business .business-slider .swiper-slide {
	    flex:1;
	    margin-left:2em;
	    -webkit-transition:flex 0.6s;
	    -moz-transition:flex 0.6s;
	    -ms-transition:flex 0.6s;
	    -o-transition:flex 0.6s;
	    transition:flex 0.6s;
    }
    .main-business .business-slider .swiper-slide:first-child {
    	margin-left:0;
    }
    .main-business .business-slider .swiper-slide .txt {
        opacity:0;
        visibility:hidden;    
    }
	.main-business .business-slider .swiper-slide.swiper-slide-active {
	    flex:3.2069; 
    }
    .main-business .business-slider .swiper-slide.swiper-slide-active .txt {
        opacity:1;
        visibility:visible; 
    }
    .main-business .business-slider .swiper-slide .thumb:after {
        opacity:1;
        content:"";
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:#0042bf;
        mix-blend-mode:screen;
        -webkit-transition:opacity 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -moz-transition:opacity 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -ms-transition:opacity 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -o-transition:opacity 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        transition:opacity 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);    
    }
    .main-business .business-slider .swiper-slide .thumb > div {
        -webkit-filter: grayscale(100%);
        filter:grayscale(100%);
        -webkit-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -moz-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -ms-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        -o-transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);
        transition:all 0.7s cubic-bezier(0.54, 0.005, 0.155, 0.99);    
    }      
    .main-business .business-slider .swiper-slide.swiper-slide-active .thumb > div {
        filter:none !important;
    }
    .main-business .business-slider .swiper-slide.swiper-slide-active .thumb:after {
        opacity:0;
    }
    .main-business .business-slider .swiper-slide .txt span {
        opacity:0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-transition:opacity 0.6s, transform 0.6s;
        -moz-transition:opacity 0.6s, transform 0.6s;
        -ms-transition:opacity 0.6s, transform 0.6s;
        -o-transition:opacity 0.6s, transform 0.6s;
        transition:opacity 0.6s, transform 0.6s;        
    }
    .main-business .business-slider .swiper-slide.swiper-slide-active .txt span {
        opacity:1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition-delay:0.3s;
        -moz-transition-delay:0.3s;
        -ms-transition-delay:0.3s;
        -o-transition-delay:0.3s;
        transition-delay:0.3s;
    }
    .main-business .business-slider .swiper-slide .txt p {
        opacity:0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-transition:opacity 0.6s, transform 0.6s;
        -moz-transition:opacity 0.6s, transform 0.6s;
        -ms-transition:opacity 0.6s, transform 0.6s;
        -o-transition:opacity 0.6s, transform 0.6s;
        transition:opacity 0.6s, transform 0.6s;        
    }
    .main-business .business-slider .swiper-slide.swiper-slide-active .txt p {
        opacity:1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition-delay:0.35s;
        -moz-transition-delay:0.35s;
        -ms-transition-delay:0.35s;
        -o-transition-delay:0.35s;
        transition-delay:0.35s;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .main-business .business-slider .swiper-slide .thumb:after {
        opacity: 0.5;
    }
}





/* ===== MAIN - RECRUIT ===== */
.main-recruit {
    position: relative;
    z-index:1;
    padding:3em 0 17em;
    background:#fff;
}
.main-recruit .maxinner {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
.main-recruit .left h2 {
    position:relative;
    padding-left:0.714em;
    font-size:7rem;
    color:#0042bf;
    line-height:1.286em;
    font-weight:700;
}
.main-recruit .left h2:after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:40px;
    height:30px;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url(/img/ico/ico-quote-blue.png);
}
.main-recruit .left p {
    margin-top:0.667em;
    padding-left:1.767em;
    font-size:3rem;
    color:#0042bf;
    font-weight:600;
}





/* ===== POPWRAP ===== */
.pop-wrap { 
	display:none; 
	position: fixed; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	z-index:9999; 
	background:rgba(0,0,0,0.6);
}
.pop-wrap.open { 
	display:block;
}
.pop-wrap .pop-conwrap {  
	position:absolute; 
	left:50%; 
	top:50%;
	max-width:900px;
	width:90%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.pop-wrap .pop-conwrap .pop-con {
	position:relative;
	padding-bottom:56.25%;
	margin:0 auto;
	height:0;
}
.pop-wrap .pop-conwrap .pop-con iframe {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.pop-wrap .pop-conwrap .btn-pop-close {
	position:absolute;
	right:0;
	top:-50px;
	width:40px;
	height:40px;
	background:url(/img/ico/ico-close.png) no-repeat center;
	background-size:100%;	
}




/* ===== RESPONSIVE ===== */
@media screen and (max-width:1440px){
	.main-tit .tit {
		font-size:4rem;
	}
	.main-visual .visual-slider .swiper-slide .vs-txt h2 {
		font-size:6rem;
	}
	.main-visual .visual-slider .swiper-slide .vs-txt p {
		font-size:2rem;
	}
	#main-intro .intro-copy .intro-copy-con h1 span {
		font-size:7rem;
	}
	#main-intro .intro-btnwrap {
		margin-top:31em;
	}
	.main-news .value-con .value-pin h2 {
		font-size:5.5rem;
	}
	.main-recruit .left h2 {
		font-size:6rem;
	}
	.main-recruit .left p {
		font-size:2.5rem;
	}
}
@media screen and (max-width:1200px){
	.main-tit .tit {
		font-size:4rem;
	}
    .main-visual .visual-slider .swiper-slide .vs-txt {
        margin:0 5%;
        max-width:60em;
    }
	.main-visual .visual-slider .swiper-slide .vs-txt h2 {
		font-size:5rem;
	}
	#main-intro .intro-gallery .gall-list .gall-item .desc p {
		margin-top:0.5em;
		font-size:1.8rem;
	}
	#main-intro .intro-gallery .gall-list .gall-item .desc {
		left:10%;
		bottom:10%;
		width:80%;
	}
	#main-intro .intro-gallery .gall-list #gall-item01 {
		padding-bottom:22%;
	    width:22%;
	    -webkit-transform:translate(104.8%, 0%);
	    -moz-transform:translate(104.8%, 0%);
	    -ms-transform:translate(104.8%, 0%);
	    -o-transform:translate(104.8%, 0%);
	    transform:translate(104.8%, 0%);
	}
	#main-intro .intro-gallery .gall-list #gall-item02 {
		padding-bottom:38.542%;
	    width:27.6045%;
	    -webkit-transform:translate(-48%, 0%);
	    -moz-transform:translate(-48%, 0%);
	    -ms-transform:translate(-48%, 0%);
	    -o-transform:translate(-48%, 0%);
	    transform:translate(-48%, 0%);
	}
	#main-intro .intro-gallery .gall-list #gall-item03 {
		padding-bottom:22%;
	    width:27%;
	    -webkit-transform:translate(66.5%, 0%);
	    -moz-transform:translate(66.5%, 0%);
	    -ms-transform:translate(66.5%, 0%);
	    -o-transform:translate(66.5%, 0%);
	    transform:translate(66.5%, 0%);
	}
	#main-intro .intro-gallery .gall-list #gall-item03 a {
		border-radius:3em;
	}
	#main-intro .intro-gallery .gall-list #gall-item04 {
		padding-bottom:40.625%;
	    width:27.084%;
	    -webkit-transform:translate(-49.1%, 0%);
	    -moz-transform:translate(-49.1%, 0%);
	    -ms-transform:translate(-49.1%, 0%);
	    -o-transform:translate(-49.1%, 0%);
	    transform:translate(-49.1%, 0%);
	}
	#main-intro .intro-gallery .gall-list #gall-item04 a {
		border-radius:5em;
	}
	#main-intro .intro-gallery .gall-list #gall-item05 {
		padding-bottom:24%;
	    width:24%;
	    -webkit-transform:translate(-55.5%, 0%);
	    -moz-transform:translate(-55.5%, 0%);
	    -ms-transform:translate(-55.5%, 0%);
	    -o-transform:translate(-55.5%, 0%);
	    transform:translate(-55.5%, 0%);
	}
	#main-intro .intro-gallery .gall-list #gall-item06 {
		padding-bottom:16.146%;
	    width:27%;
	    -webkit-transform:translate(66.5%, 0%);
	    -moz-transform:translate(66.5%, 0%);
	    -ms-transform:translate(66.5%, 0%);
	    -o-transform:translate(66.5%, 0%);
	    transform:translate(66.5%, 0%);
	}	
	.main-news {
		padding-bottom:48em;
	}
	.main-news .news-con .maxinner {
		flex-wrap:wrap;
	}
	.main-news .news-con .maxinner .left {
		width:100%;
	}
	.main-news .news-con .maxinner .right {
		margin-top:5em;
		width:100%;
	}
	.main-news .news-con .news-list li a {
		display:flex;
		flex-direction:row-reverse;
		justify-content:space-between;
		align-items:center;
		padding:4em 0;
	}
	.main-news .news-con .news-list li .cursor-imgbox {
		position:relative;
		left:auto;
		top:auto;
		right:auto;
		bottom:auto;
		width:150px;
		height:auto;
	}
	.main-news .news-con .news-list li .txtbox {
		width:calc(100% - 190px);
	}
	.main-news .news-con .news-list li h3 {
		font-size:2.2rem;
	}
	.main-news .value-con .value-pin h2 {
		font-size:5rem;
	}
	.main-news .value-con .value-pin h2:after {
		width:30px;
	}
	.main-sns .sns-slider .txt p {
		font-size:2rem;
	}
	.main-business .business-slider {
		padding-right:20%;
	}
	.main-business .business-slider .swiper-slide a {
		height:50em;
	}
	.main-business .business-slider .swiper-slide .txt {
		left:2em;
		bottom:2em;
		width:calc(100% - 4em);
	}
	.main-recruit .left h2 {
		font-size:5rem;
	}
	.main-recruit .left h2:after {
		width:30px;
	}
	.main-recruit .left p {
		font-size:2.1rem;
	}
	
}
@media screen and (max-width:1024px){
	.main-news .value-con .value-pin h2 .pc-br { 
		display:none;
	}
    #main-intro.en .intro-gallery .gall-list .gall-item .desc p {
        font-size:1.6rem;
    }
} 
@media screen and (max-width:820px){
	body.main {
		font-size:100%;
	}
	.main-tit .tit {
		font-size:3.2rem;
	}
	.main-visual .visual-slider .swiper-slide .vs-txt {
		height:55%;
		justify-content:flex-end; 
	}
	.main-visual .visual-slider .swiper-slide .vs-txt h2 {
	    font-size:3rem;
	}
	.main-visual .visual-slider .swiper-slide .vs-txt p {
		font-size:1.6rem;
	}
	.main-visual .visual-slider .swiper-pagination {
		margin:0 -40px 0 0;
		right:50%;
		top:auto;
		bottom:40%;
		width:80px;
		text-align:center;
	}
	.main-visual .visual-slider .swiper-button-prev {
		margin:0 1.5em 0 0;
		right:50%;
		top:auto;
		bottom:15%;
		width:5em;
		height:5em;
	}
	.main-visual .visual-slider .swiper-button-next {
		margin:0 -6.5em 0 0;
		right:50%;
		top:auto;
		bottom:15%;
		width:5em;
		height:5em;
	}
	#main-intro .intro-btnwrap {
		opacity:0;
		visibility:hidden;
		margin-top:20em;
	}	
	#main-intro .intro-copy .intro-copy-con h1 span {
		font-size:4.8rem;
	}
	#main-intro .intro-gallery {
		left:5%;
		width:90%;
	}
	#main-intro .intro-gallery .gall-list #gall-item01 {
		padding-bottom:70%;
		width: 70%;    
		left:auto;
        right:0;
		-webkit-transform: translate(0%, 0%);
	    -moz-transform: translate(0%, 0%);
	    -ms-transform: translate(0%, 0%);
	    -o-transform: translate(0%, 0%);
	    transform: translate(0%, 0%);         
	}
	#main-intro .intro-gallery .gall-list #gall-item02 {
		padding-bottom:92%;
		width: 70%;
		left:0;
		-webkit-transform: translate(0%, 0%);
	    -moz-transform: translate(0%, 0%);
	    -ms-transform: translate(0%, 0%);
	    -o-transform: translate(0%, 0%);
	    transform: translate(0%, 0%);          
	}
	#main-intro .intro-gallery .gall-list #gall-item03 {
		padding-bottom:50%;
		width: 70%;
		left:auto;
        right:0;
		-webkit-transform: translate(0%, 0%);
	    -moz-transform: translate(0%, 0%);
	    -ms-transform: translate(0%, 0%);
	    -o-transform: translate(0%, 0%);
	    transform: translate(0%, 0%);          
	}
	#main-intro .intro-gallery .gall-list #gall-item04 {
		padding-bottom:92%;
		width: 70%;
		left:0;
		border-radius:5em;
		-webkit-transform: translate(0%, 0%);
	    -moz-transform: translate(0%, 0%);
	    -ms-transform: translate(0%, 0%);
	    -o-transform: translate(0%, 0%);
	    transform: translate(0%, 0%);         
	}
	#main-intro .intro-gallery .gall-list #gall-item05 {
		padding-bottom:70%;
		width: 70%;
		left:0;
		-webkit-transform: translate(0%, 0%);
	    -moz-transform: translate(0%, 0%);
	    -ms-transform: translate(0%, 0%);
	    -o-transform: translate(0%, 0%);
	    transform: translate(0%, 0%);         
	}
	#main-intro .intro-gallery .gall-list #gall-item06 {
		padding-bottom:50%;
		width: 70%;
		left:auto;
        right:0;
		-webkit-transform: translate(0%, 0%);
	    -moz-transform: translate(0%, 0%);
	    -ms-transform: translate(0%, 0%);
	    -o-transform: translate(0%, 0%);
	    transform: translate(0%, 0%);         
	}	
	#main-intro .intro-copy .intro-copy-con .scrolldown{
		margin-right:-6em;
	}
	#main-intro .intro-copy .intro-copy-con .scrolldown p{
		font-size:1.2rem;
	}
	.main-news {
		padding:7em 0 28em;
	}
	.main-news .news-con .news-list li a {
		padding:2em 0;
	}
	.main-news .news-con .news-list li .cursor-imgbox {
		width:100px;
	}
	.main-news .news-con .news-list li .txtbox {
		width:calc(100% - 130px);
	}
	.main-news .news-con .news-list li h3 {
		font-size:1.8rem;
	}
	.main-news .news-con .news-list li p {
		font-size:1.4rem;
	}
	.main-news .value-con .value-pin {
		padding:5em 0;
	}
	.main-news .value-con .value-pin h2 {
		padding-left:1.057em;
		font-size:3.5rem;
	}
	.main-sns {
		padding:7em 0;
	}
	.main-sns .sns-slider {
		padding-right:20%;
	}
	.main-sns .sns-slider .txt p {
		font-size:1.9rem;
	}
	.main-sns .sns-slider .img .ico {
		right:5%;
		top:5%;
	}
	.main-sns .sns-arrow .swiper-button-prev {
		margin-right:6em;
		width:5em;
		height:5em;
	}
	.main-sns .sns-arrow .swiper-button-next {
		width:5em;
		height:5em;
	}
	.main-business {
		padding:7em 0;
	}
	.main-business .business-slider .swiper-slide a {
		padding-bottom:100%;
		height:0;
	}
    .main-business .business-slider .swiper-slide .txt span {
        font-size:1.5rem;
    }
	.main-business .business-slider .swiper-slide .txt p {
		font-size:1.8rem;
	}
	.main-recruit .maxinner {
		flex-wrap:wrap;
	}
	.main-recruit .maxinner .left {
		width:100%;
	}
	.main-recruit {
		padding:5em 0 7em;
	}
	.main-recruit .left h2 {
		padding-left:1.057em;
		font-size:3.5rem;
	}
	.main-recruit .left p {
		font-size:1.9rem;
	}
	.main-recruit .maxinner .right {
		padding-left:3.7em;
		margin-top:5em;
		width:100%;
	}
	
}
@media screen and (max-width:480px){
	.main-sns .sns-arrow {
		position:static;
		margin-top:2em;
	}
	.main-sns .sns-arrow .swiper-button-prev {
		display:inline-block;
		margin:0;
		margin-right:1em;
		position:static;
		vertical-align:middle;
	}
	.main-sns .sns-arrow .swiper-button-next {
		display:inline-block;
		margin:0;
		position:static;
		vertical-align:middle;
	}
}