@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./common.css);
@import url(./core.css);
@import url(./grid_12_float.css);   /* 그리드_12_플롯 불러오기 */
@import url(./reset.css);


/* 초기화 */
html, body, h1, h2, h3, ul, ol {
	margin: 0;
	padding: 0;
}       /* 왜하는지는 모르겠음ㅎㅎ ////// */

/* 공사중 표시 */
body * {
    margin: 0 auto;
    outline: 1px dashed #f27228;
    /* font-family: Arial, Helvetica, sans-serif; */
}


/*******************************************************/

/* a요소 공통 */
/* 메뉴 하얗게~ */
a{
    color: #fff;
    text-decoration: none;
}


/* 공통클래스 : 클리어설정 */
/* 메뉴 단정하게~ */
ul::after,ol::after,.clb::after{
    content: '';   
    display: block;
    clear: both;
}




/* 메뉴 */
.gnb ul{
    display: flex;    /* 메뉴 글자 줄바꿈 방지 */
    white-space: nowrap;    /* 서브메뉴 줄 안나뉘게 */
}

.gnb ul > li {
    float: left;    /* 메뉴 가로나열 */
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
    position: relative;
    margin-left: 80px;      /* 메뉴랑 로고랑 안겹치려고~ 왼쪽 80px부터 메뉴 시작 */
    text-align: center;
}

.smenu{
    position: absolute;     /* 하위메뉴 숨기기 위한 준비 */
    left: 50%;              /* 상위메뉴의 중앙에 위치 */
    transform: translateX(-50%);
}

/* 메뉴 마우스오버 */
.gnb ul>li .smenu li a:hover{
    transition: .3s;    /* 걸리는 시간 */
    opacity: .6;        /* 투명도 */
    font-weight: bold;
    color: #f5b152;
}

/**************수정중***************/
/* 오버시 밑줄 애니 */
.uline li:hover>a::after{

    content: '';
    display: block;
    margin-left: 100%;
    width: 155555px;
    height: 3px; /* 선 두께 */
    background-color: #fff;
    transition: .5s;

    margin-left: 0;
    width: 100%;
    /* transition: width .3s; */
}
/****************************/



/* 2. 배너(메인)영역 */
.ban-area {
    height: 937px;
    background: url(../images/visual01.jpg) no-repeat;
}










/* 2.5. 서브파트메뉴 */
.spart-menu{
    height: 68px;
}
/* 3. 인트로영역 */
.intro-area{
    height: 575px;
}
/* 4. 미리보기영역 */
.preview-area{
    height: 803px;
}
/* 5. 현장포토영역 */
.real-photo-area{
    height: 1043px;
}
/* 6. 대표이미지 영역 */
.main-photo-area{
    height: 731px;
}
/* 7. 최신동영상영역 */
.clip-video-area{
    height: 548px;
}
/* 8. 하단영역 */
.footer-area{
    height: 371px;
}