@charset "utf-8";

.mo-img{display:none;}
 
 
@media screen and (max-width:1200px){
	/************************************************** common **************************************************/
	#header .gnb-wrap .gnb{display:none;}
	#header.gnb-open .gnb-all{ width:300px; right:0;}
	.gnb-all{ height:100vh; right:-100%; } 
	.all-menu{position:relative; z-index:1; background:#fff; overflow-y: auto; }
	.all-menu > ul{padding:100px 20px; display:block; }
	.all-menu > ul > li{width:100%; border-right:0;}
	.all-menu > ul > li > ul{display:none;}
	.all-menu > ul > li > a{font-size:20px; margin-bottom:10px; } 
	.all-menu > ul > li:not(.gnb-sns) > a:after{content:''; width:10px; height:12px; display:inline-block; margin-left:10px; background: url(/img/bu/bu-language.png) no-repeat center right;}
	.all-menu > ul > li:not(.gnb-sns) > a.on:after{transform:rotate(180deg);}
	.all-menu > ul > li:not(.gnb-sns) > ul > li{margin-top:0; padding:5px 0;}
	.all-menu > ul > li:not(.gnb-sns) > ul > li > a{font-size:16px; display:block; padding-left:5px}
	.all-menu > ul > li:not(.gnb-sns) > ul > li.dep3 > a:after{content:''; width:10px; height:10px; display:inline-block; margin-left:10px; background: url(/img/bu/bu-language.png) no-repeat center right;}
	.all-menu > ul > li:not(.gnb-sns) > ul > li.dep3 > a.on:after{transform:rotate(180deg);}
	.all-menu > ul > li:not(.gnb-sns) > ul > li > ul{display:none;}
	.all-menu > ul > li:not(.gnb-sns) > ul > li > ul > li > a{font-size:14px}
	.all-menu > ul > li:not(.gnb-sns) > ul > li > ul > li{margin:10px 5px;}
	.all-menu .gnb-sns ul{display:block;}
	.all-menu .gnb-sns > ul > li{margin:5px}
	.all-menu .gnb-sns > ul > li > a{font-size:13px;}
	.all-menu > ul > li:not(.gnb-sns) > a:before{width:5px; height:5px; top: -10px;} 
	.all-bg{width:100%; height:100vh; background:rgba(0,0,0,0.2); position:fixed; top:0; left:0; display:none; z-index:1;}

	
	/************************************************** sub layout **************************************************/
	.chairman .ceo .ceo-txt{padding-right:10%;}
	.ci .c-block ul li{height:auto;}
    .ci .c-block ul.col-4 li {
        width: 50%;
    }
	 
	.logis-one .dia-cont{padding:0;}
	.logis-one .dia-center{width:280px; height:280px; }
	.logis-one .dia-center h3{width:230px; height:230px; margin:0 auto; font-size:18px}
	.logis-one .dia-center h3:after{width:180px; height:180px;}
	.logis-one .dia-cont li{position:relative; left:auto !important; top:auto !important; right:auto !important; transform:none !important; margin:30px auto; width:100%; max-width:400px; }
	.logis-one .dia-cont li:after{width:0 !important; height:30px !important; border-left:2px dotted #0042bf !important; top:-30px !important; right:50% !important; left:auto !important;}
	.logis-one .dia-cont li:before{top:-36px !important; left:auto !important; right:50% !important; margin-right:-5px !important;}  

	.csr-cont p br{display:none;}
	.business .bs-lay .bs-txt h3 br{display:none;}


    .sub-tab.en li {
        width: 50% !important;
    }
    .txt-business.en ul li {
        width: 33.3%;
    }

    .pc-br {
        display: none;
    }


}
@media screen and (max-width:1024px){
	/************************************************** common **************************************************/ 

	
	/************************************************** sub layout **************************************************/ 
	.sr .sr-business h3 br{display:none;}
	.sr .bs-box li .tit{padding:20px; }
	.sr .sr-business h3{ font-size:20px}
 
}
@media screen and (max-width:820px){
	/************************************************** common **************************************************/
	body{font-size:16px}
	#header h1 a{width:130px;}
	#header{height:80px;}
	#header .hd-etc .hd-language{margin-right:5px;}
	#header .hd-etc .hd-menubtn{margin-left:20px;}
	#header .hd-etc .hd-search .btn-hd-search{width:15px; height:15px;} 
	#footer .ft-top{display:block;}
	#footer .ft-top .ft-menu li{margin-left:15px;}
	#footer .ft-top .ft-menu li a{font-size:14px;}
	#footer .ft-top .ft-site{ margin:20px 0 0;}
	#footer .ft-btm{display:block;}
	#footer .ft-btm .ft-addr{width:100%;}
	#footer .ft-btm address p{display:block; padding-left:0; margin-left:0;}
	#footer .ft-btm address p:after{display:none;}
	#footer .ft-btm p.copyright{font-size:12px;}
	#footer .ft-btm .ft-sns{margin:20px 0 0;}
	#go-top{width:40px; height:40px; bottom:20px;}
	#go-top p{display:none;}
	#go-top .arr{margin:0 auto;}

	.hd-search-box.hd-sch-open{height:200px;}
	.hd-search-box .search-box{width:90%;}
	.hd-search-box .search-box p{margin-top:50px; margin-bottom:10px;}
	.hd-search-box .search-box input{font-size:15px; height:45px; line-height:45px;}
	.hd-search-box .search-btn{width:45px; height:45px; line-height:45px;}

	.mo-img{display:block;}
	.pc-img{display:none;}


	/************************************************** sub layout **************************************************/
	.sub-visual{height:270px;}
	.sub-visual-tit{padding-top:150px;}
	.sub-visual-tit h1{font-size:32px;}
	.sub-position{margin-top:50px; display:none;}
	.sub-position a{font-size:14px; margin-right:20px;}
	.sub-position a.go-home{height:20px;} 
	.sub-position a:not(:last-child):after{right:-15px; top: 4px;}
	.sub-cont-tit{padding: 60px 0 40px;}
	.sub-cont-tit h2{font-size:24px;}
	.sub-cont-tit h3{font-size:22px; word-break: keep-all;}
	.sub-cont-tit h3 br{display:none;}
	.sub-cont-txt{ padding:60px 20px; font-size:16px}
	.sub-cont-tit p{margin-top:20px;}
	.sub-cont-tit p br{display:none;}
	.sub-tab{ }
	.sub-tab li{ } 
	.sub-tab li a{height:60px; padding:0 10px; font-size:15px; line-height: 1.2; }

    .sub-tab.en li a {
        font-size: 14px;
    }

    .sub-visual-tab {
        height: 60px;
    }
    .sub-visual-tab ul li {
        margin: 0;
        flex: 1;
    }
    .sub-visual-tab ul li a {
        padding: 0 16px;
        font-size: 16px;
    }
    .sub-visual-tab ul li a.business {
        min-width: unset;
    }
    .sub-visual-tab ul li a.business:after {
        right: 0;
    }
    .sub-visual-tab ul li .dep2 {
        padding: 10px;
    }

	/************************************************** sub pages **************************************************/ 
	.sub-pages{padding:80px 0;}
	.sub-cont-p p{margin:10px 0; font-size:14px;}
	.sub-cont-p h3{margin:30px 0 10px; font-size:16px;}


	.earth .esg-about .esg-box{width:90%; margin:0 auto}
	.earth .esg-about .esg-box li{width:100%; padding:30px;} 
	.earth .esg-about .esg-box li strong{margin:20px auto;}
	.earth .esg-about .esg-box li:not(:last-child){ margin-bottom:20px;} 
	.esg-about .sub-cont-txt p br{display:none;}
	.earth .esg-lay{padding:60px 0;}
	.earth .esg-lay .esg-left{width:100%; margin-bottom:20px; text-align:center;}
	.earth .esg-lay .esg-left .num{left:50%;}
	.earth .esg-lay .esg-right{width:100%;} 
	.earth .esg-lay .esg-right .dot-txt p:after{top:12px;}
	.earth .esg-lay .esg-right .dot-txt p:not(:last-child){margin:0 0 20px}
	.earth .esg-s .tab-menu li a{font-size:16px}
	.earth .esg-s .tab-menu{justify-content: center;}
	.earth .esg-s .tab-menu li:not(:last-child){margin-right:20px;}
	.earth .esg-s .tab-menu li:not(:last-child):after{right:-12px; top:6px;}
	.earth .esg-lay .esg-right .img-box{margin:30px 0;} 
	.earth .org-chart{margin:40px 0;}
	.earth .org-chart ul{flex-wrap: wrap;}
	.earth .org-chart ul li{width:100%; }
	.earth .org-chart .org-top{padding:0 0 50px;}
	.earth .org-chart .org-bottom li{margin-bottom:20px; max-width:100%;}
	.earth .org-chart .org-top li:after{display:none;}
	.earth .org-chart .org-bottom:after{display:none;}

	.earth .org-chart .org-bottom li ul{position:relative; top:auto; left:auto; width:100%; padding-top:20px}



	.media .sns-group{margin-top:20px; width:100%;}
	.media .sns-group h3{font-size:18px}
	.media .sns-group .sns{margin-top:-6px;}
	.media .sns-group .go-link{float:none; display:block; margin:15px 0 0; text-align:center;}
	.media .sns-group:nth-child(2n+1){margin-right:0;}
 
	.social{border-bottom:0; margin:0 0 80px}
	.social .left{width:100%;}
	.social .right{width:100%;}
	.social .list h3{width:50%;}
	.social .list .first{ padding:10px 0; min-height:67px;}
	.social .list .first h3{font-size:16px; }   
	.social .list .belong li{padding:10px 0;}
	.social .list .belong h3{font-size:15px; } 
	.social .list .sns{padding:0; /*width:50%;*/ }
	.social .list .sns a{width:35px; height:35px;}  
	.social .left .list:last-child{border-bottom:0;}

	.live-tit{font-size:20px;}
	.live-tit a.btn{width:20px; height:20px;}
	.live-slider .swiper-slide a:after{width:50px; height:50px;}

	.gallery-list ul li{width:100%; margin-right:0;}
	.gallery-list ul li .date{margin-top:15px; margin-bottom:10px;}

	.sub .news-list{padding:60px 0;}
	.sub .news-list ul{margin:0;}
	.sub .news-list ul li.gall_top{width:100%; margin:0;}
	.sub .news-list ul li .title p.sbj{font-size:20px;}
	.sub .news-list ul li{display:block; margin:0;}
	.sub .news-list ul li .thumb{width:100%;}
	.sub .news-list ul li .title{padding-left:0; width:100%; padding:20px 0 0;}
 

	.csr-cont{padding:0 0 60px} 
	.csr-cont .sub-cont-tit{padding: 60px 0 40px;}
	.csr-banner{margin:0 0 60px; padding:40px 20px;}
	.csr-overview p{font-size:18px;}
	.csr-banner p{font-size:18px;}
	.csr-overview p br{display:none}
	.csr-banner p br{display:none}
	.csr-cont .csr-lay .col{width:100%;}
	.csr-cont h4{font-size:20px;}
	.csr-cont .csr-tit h4{width:100%;}
	.csr-cont .csr-center h4{font-size:20px; margin-bottom:20px;}
	.csr-cont .csr-center.csr-lay .col{width:48%;}
	.csr-cont .csr-center.csr-lay .col h4{min-height:60px; line-height:1.4;}
	.csr-cont .csr-center:not(:last-child){margin-bottom:60px;}
	.csr-cont .col-img{}

	.business .bs-cont-tit{padding:60px 0 0; margin-bottom:-30px;}
	.business .bs-cont{padding:60px 0;}
	.business .bs-cont-tit h3{font-size:30px;  }
	.business .bs-cont-tit .bgt{font-size:60px;}
	.business .bs-lay .bs-img{width:100%;}
	.business .bs-lay .bs-txt{width:100%; padding-top:40px;}
	.business .bs-lay .bs-right.bs-txt{padding-left:0;}
	.business .bs-lay .bs-left.bs-txt{padding-right:0;}
	.business .bs-lay .bs-txt h3{font-size:22px; padding-bottom:60px;}
	.business .bs-lay .bs-txt h3 img{max-width:200px;}
	.business .bs-lay .bs-txt h3:after{bottom:30px;}
	.business .bs-system{padding:60px 0;}
	.business .met{padding:20px;}
	.business .met h4{font-size:18px}
	.business .met p{font-size:16px;}
	.business .bs-link .btn-wr{margin-top:60px;}
	.business .bs-lay.wide .bs-txt{padding:60px 0 0;}
	.business .bs-cont-tit .bgt{left:70px; bottom:40px;}
	.business .lit-icon{margin:0 auto 60px; padding:0;}
	.business .lit-icon li{width:100%; padding:30px;}
	.business .lit-icon li:not(:last-child){border-right:0; border-bottom:1px dotted #eee;}
	.business .bs-link .btn-wr{margin-bottom:70px;}
	.business .org-chart ul{flex-wrap:wrap;}
	.business .org-chart .org-bottom li:not(:last-child){padding:0 0 70px}
	.business .org-chart .org-bottom:after{display:none;}
	.business .org-chart .org-top{padding:0 0 50px}
	.business .org-chart .org-top li{height:60px; font-size:18px; max-width: 200px;}
	.business .bs-tab .bs-right{padding-top:0;}
	.business .tab-menu{max-width:100%; display:flex; flex-wrap:wrap; margin:0 0 40px}
	.business .tab-menu li{width:50%;}
	.business .tab-menu li a{font-size:14px; text-align:center; padding:10px;} 
	.business .tab-menu li a.active:after{width: 2px; height: 30px;  background: #0042bf; position: absolute;  right: 50%;  bottom: -20px; top:auto; margin-top:0}
	.business .bs-tab .bs-right .txt-box{padding:30px}
	.business .bs-cont-img img{padding:20px 0;}

	.logis-dia{margin:0 0 60px;}
	.logis-dia li{width:100%;}
	.logis-dia li h3{font-size:18px}
	.logis-dia li h3 br{display:none;}
	.logis-dia li:nth-child(2){width:100%; margin:100px 0; position:Relative;}
	.logis-dia li:nth-child(2) img{transform:rotate(90deg);}
	.logis-dia li:nth-child(2) h3{ position:absolute; left:50%; top:50%; transform:translateY(-50%);margin:0 0 0 26%; width:100px; text-align:left; word-break: keep-all;}
	.logis-dia li p{padding:0 30px}

	.it-dia{flex-wrap:wrap;}
	.it-dia h3{width:150px; height:150px; margin-top:20px; font-size:20px}
	.it-dia h3:before{width:180px; height:180px;}
	.it-dia h3:after{width:200px; height:200px;}
	.it-dia ul{margin-left:0; margin-top:50px; width:100%; max-width:100%;}
	.it-dia ul li strong:after{display:none;}
	.it-dia ul li p{width: calc(100% - 65px);}
	.it-dia ul li{padding:10px 0;}
 


	.txt-business{padding-bottom:60px;} 
	.txt-business ul li{width:33.33%; margin-bottom:10px;  }
	.txt-business ul li p{padding:0; font-size:14px;}
    .txt-business.en ul li {
        width: 50%;
    }
	.txt-material{padding-bottom:60px;}
	.txt-material ul{ flex-wrap:wrap; border-bottom:1px solid #ddd;}
	.txt-material ul li{width:100%; padding:20px 20px 30px; border-bottom:0; margin-left:0;}
	.txt-material ul li.on{width:100%; border:1px solid #ddd; border-bottom:0;} 
	.txt-material ul li p{font-size:16px; display:block; width:100%;}
	.txt-material ul li b{ display:block;}
	.txt-spunbond ul{ margin: 0 auto; width:100%;}
	.txt-spunbond ul li{padding:110px 20px 30px;}
	.txt-spunbond ul li img{width:130px;}
	.txt-spunbond ul li p{font-size:16px;}
    .txt-material.en ul li {
        min-height: auto;
    }
	.txt-melt .sub-cont-tit{padding: 80px 20px;}
	.txt-melt .sub-cont-tit h3{position:relative; top:auto; left:auto; margin-bottom:30px;}
	.txt-melt img{width:170px;} 
	.txt-brand ul li{width:100%; padding:30px 30px 50px;}
	.txt-brand ul li img{position:relative; top:auto; right:auto; margin:0 auto 30px; display:block}
	.txt-brand .bs-link .btn-wr{margin-top:0;}


	.btn-wr{margin:30px 0;}
	.btn-wr a{ height:60px; line-height:normal; font-size:15px; margin-right:0; margin-bottom:10px; min-width:100%;} 
	
	.board-top .total{width:100%; padding:10px 0 0;}

	#bo_gall{margin-bottom:40px;}
	#bo_v_title .bo_v_tit{font-size:22px; padding:0 20px;}
	#bo_v{padding:30px 0; margin: 0 auto 30px;}
	.bo_v_com{margin:0 0 5px;}
	.bo_v_nb li .nb_date{display:none;}

	.history-wr{padding:60px 0;}
	.history-menu{width:100%; }
	.history-menu.fixed{display:block;background:#f8f8f8; width:100%; left:0; top:0; padding: 0; z-index:2;}
	.history-menu.fixed li.on{display:block;}
	.history-menu li{display:none; padding:20px; margin-bottom:0;}
	.history-menu li br{display:none;}
	.history-menu li.on{display:none; }
	.history-menu li a{font-size:18px;}
	.history-menu li a span b{font-size:32px; display:block;}
	.history-tab{width:100%;}
	.history-tab h3{font-size:24px; margin:0 0 30px}
	.history-img{margin:40px 0;}
	.history-tab > div{margin:0 0 60px;}

    .history-tab > div.en {
        margin-bottom: 60px;
    }
    .history-menu.en li a span b {
        font-size: 28px;
    }
    .history-menu.en li.on a .tit2 {
        font-size: 20px;
    }



    .social-media02 .history-menu { opacity:1 !important; display:flex; align-items:center; width:100%; background:#fff; box-shadow:1px 4px 4px -4px rgba(0,0,0,0.2); transition: all 0.3s; transform:none !important;}
    .social-media02.bg-gray .history-menu { background-color:#f8f8f8;}
	.social-media02 .history-menu li { display:none; flex:1; padding:15px 0; text-align:center;}
	.social-media02 .history-menu li b,
	.social-media02 .history-menu li span { display:block; font-size:25px !important; line-height:20px;}
	.social-media02 .history-menu li.on { display:block;}
	.social-media02 .history-menu .tit1 { display:none !important;}
	.social-media02 .history-menu li a { display:block; font-size:15px; line-height:20px;}
	.social-media02 .history-menu li a.btn-viewmore { position:static; margin-top:10px; padding:0;}
	.social-media02 .history-menu li span { display:block;}
	.social-media02 .sns-cont { padding:50px 0 0;}
	.social-media02 .sns-cont .sns-tit { position:relative; z-index:100; width:100%; height:auto;}
	.social-media02 .sns-cont .sns-tit-con { padding:0 0 0; max-width:none;}
	.social-media02 .sns-tab { width:100%;}
	.social-media02 .sns-tab > div { padding:50px 0 0;}
    .social-media02 .sns-tab > div#tab1 { padding-top:0;}
	.social-media02 .sns-tab span { font-size:16px;}
	.social-media02 .sns-tab ul li { padding-top:130px; margin-top:0 !important;}
	.social-media02 .sns-tab ul li:nth-child(2) { padding-top:180px;}
	.social-media02 .sns-tab .big-conbox ul li { padding-top:100px; margin-top:0 !important;}
	.social-media02 .sns-tab .big-conbox ul li:nth-child(2) { padding-top:50px;}

	.live .simply-scroll { margin-top:80px;}
	.friendly-live02 { padding-top:50px;}
	.friendly-live02 .live-nav ul { display:flex; flex-wrap:wrap;}
	.friendly-live02 .live-nav ul li { width:50%; }
	.friendly-live02 .live-nav ul li a { display:flex; justify-content:center; align-items:center; padding:0 5px; min-height:40px; font-size:16px;}
	.friendly-live02 .live-nav ul li a::after { display:none;}
	.friendly-live02 .col2 { margin:0 0 0 -3%;}
	.friendly-live02 .col2 .live-item { padding:0 0 50px; margin-left:3%; width:47%;}
	.friendly-live02 .col3 { margin:0 0 0 -3%;}
	.friendly-live02 .col3 .live-item { padding:0 0 50px; width:100%;}
	.friendly-live02 .friendly-live .live-item .txt span { font-size:16px;}
	.friendly-live02 .friendly-live .live-item .txt p { margin-top:5px; font-size:16px;}




	.chairman{background-position:right -200px bottom;}
	.chairman .ceo{margin:0 0 120px}
	.chairman .ceo .ceo-img{width:90%;}
	.chairman .ceo .ceo-txt{width:100%; padding:40px 20px 0;}
	.chairman .ceo .ceo-txt p{margin:20px 0;}
	.chairman .sub-cont-tit p{font-size:22px;}

	.sr .sub-cont-tit p{margin-top:30px;}
	.sr .sr-banner{padding:50px 20px; margin:0;}
	.sr .sr-banner p{font-size:18px;}
	.sr .sr-banner p br{display:none;}
	.sr .sr-lay .sr-left h3{font-size:20px; margin:0 0 30px;}
	.sr .sr-lay .sr-left h3 br{display:none;}
	.sr .sr-lay .sr-right h3{font-size:20px;}
	.sr .sr-lay .sr-left{width:100%;}
	.sr .sr-lay .sr-right{width:100%;}
	.sr .sr-lay{padding:60px 0;} 
	.sr .cc-box li{width:30%; margin:0 1.5%}
	.sr .sr-lay .ic-box li{width:100%; padding:0 0 0 40px; }
	.sr .sr-lay .ic-box li h3{font-size:20px;} 
	.sr .sr-business{padding:0 0 60px;}
	.sr .sr-business h3{font-size:18px;}
	.sr .sr-business h3 br{display:none;}
	.sr .bs-box li{width:100%;}
	.sr .bs-box li .img{padding-bottom:50%;}
	.sr .sub-tab li a{ word-break: keep-all;}

	.vs-cont .sr-lay .sr-right h4{font-size:16px; margin:0 0 20px}
	.vs-dir .dir-box{padding:0 0 60px;}
	.vs-dir .dir-box li{width:100%; margin-bottom:20px;     padding: 40px 30px;}
	.vs-dir .dir-box li h4{font-size:22px;}
	.vs-dir .dir-box li img{width:50px; }
	.vs-cont .sr-lay .sr-right p{line-height:1.8}
	.vision .vs-value{margin:60px 0 0;}

	.vs-total{padding:60px 0;}
	.sr .org-chart .org-top li{width:150px; height:150px; font-size:18px;}
	.sr .org-chart ul{flex-wrap:wrap;}
	.sr .org-chart .org-mid{padding:0 0 50px;}
	.sr .org-chart .org-bottom li{margin:0 0 20px;}
	.sr .org-chart .org-bottom:after{display:none;}
	.sr .org-chart{margin:0 0 60px;} 

	.vs-total h3{font-size:22px;}

	.vs-banner{padding:50px 20px;}
	.vs-banner p{font-size:20px}
	.vs-banner p b{font-size:24px;}
	.vision .vs-value .p-banner{padding:5px;}
	.vision .vs-value .p-banner p{padding:20px; font-size:20px;}
	.vision .vs-core li .img-box{height:200px;}
	.vision .vs-lay .vs-left{width:100%;}
	.vision .vs-lay .vs-left h3{font-size:20px; margin:0 0 20px}
	.vision .vs-lay .vs-right{width:100%;}
	.vision .vs-lay{padding:30px 0 50px;}
	.vision .vs-lay .vs-right p{line-height:1.6;}
	.vision .vs-core{margin:40px 0;}

	.ci .sym-img{padding:50px;}
	.ci .ci-lay .ci-left{width:100%; margin:0 0 20px;}
	.ci .ci-lay .ci-left h3{ font-size:22px;}
	.ci .ci-lay .ci-right{width:100%}
	.ci .symbol .ci-lay{padding:40px 0;}

	.ci .watermark .tab-menu{margin:0 0 40px}
	.ci .watermark .tab-menu li a{height:50px; font-size:16px}
	.ci .ci-lay p{line-height:1.6;}
	.ci .watermark .sym-img{margin:0 0 30px}
	.ci .ci-lay{padding-bottom:40px;}
	.ci .watermark{padding-bottom:0;}
	.ci .c-use li{padding:20px; width:100%;}
	.ci .c-use li img{}
	.ci .c-prohb li{width:48%;}
	.ci .c-prohb li:nth-child(2n){margin-right:0;}
	.ci .c-prohb li:nth-child(5):after, .ci .c-prohb li:nth-child(7):after, .ci .c-prohb li:nth-child(9):after{display:none;}
	.ci .c-prohb li p{margin:10px 0 20px; font-size:14px;} 
	.ci .ci-lay .ci-left h3{font-size:18px}
	.ci .c-block ul li{padding:20px; height:auto; width:100%;}
    .ci .c-block ul.col-2 li, .ci .c-block ul.col-4 li {
        width: 100%;
    }
	.ci .main-color ul:nth-child(-n+2) li:last-child{text-align:right;}
	.ci .c-block ul li h4{font-size:16px; line-height:1.4; margin:0 0 10px}
	.ci .c-block ul li p{font-size:12px;}
	.ci .c-system{padding-bottom:40px;}

	.networks{padding:0 0 80px}
	.networks .map .country{font-size:16px; top:-25px;}
	.networks .map-pop{position:fixed; top:50%; left:50%; margin-left:-150px; transform:translateY(-50%); bottom:auto;}


	.people {padding-bottom:60px;}
	.people .pp-banner{padding:70px 20px 50px; margin:0 -20px}
	.people .pp-banner .ptit h3{font-size:22px;}
	.people .pp-banner .ptit h3:after{width:20px; margin-left:-10px; top:-40px;}
	.people .pp-dia dl:first-child dd{font-size:16px; margin:0 auto 10px;}
	.people .pp-dia dl dd{padding:15px 20px; width:100%;}
	.people .pp-dia dl dt{padding:10px 20px; width:100%;}
	.people .pp-dia dl dt:before{width:1px; height:20px; right:50%;  transform: translateX(50%);  top:auto; bottom:-20px; border-top:none; border-right: 2px dotted #0042bf; }
	.people .pp-dia dl dt:after{right:50%; bottom:-25px; top:auto; transform: translateX(50%); }
	.people .pp-story li{width:100%; margin-bottom:10px;}
	.people .pp-story li p{font-size:18px}

	.pr-bg{padding:60px 0;}
	.pr-lay .pr-img{width:100%;}
	.pr-lay .pr-info{width:100%; text-align:center;}
	.pr-lay .pr-info h3 b{font-size:30px;}
	.pr-lay .pr-info h3:after{height:40px; margin:10px auto 20px;}
 
	.search-result{margin-bottom:0;}
	.search-result .all-search .search-box input{font-size:16px; padding:0 10px;}
	.search-result .sub-tab{margin-top:50px;}
	.search-result .sub-tab li a{font-size:14px;}
	.search-result .live-tit{margin:30px 0 20px; font-size:18px;}
	.search-result .gallery-list ul{padding-bottom:20px;}

	.ir-board-list ul li > a, .ir-board-list ul li .list-wrap{padding:20px 0;}
	.ir-board-list ul li .list-col.num{display:none;}
	.ir-board-list ul li .list-col.subject .title{font-size:16px;}
	.ir-board-list ul li .list-col.date{display:none;}
	.board-top{margin:0 0 30px;}
	.ir .sub-tab{margin-bottom:30px;}


	.vision .vs-cont1{padding:20px 0 60px; margin-top:60px;}
	.vision .vs-cont1 .vs-lay .vs-left h3{margin:0; padding:20px 0 15px; font-size:20px;}
	.vision .vs-cont1 .vs-lay .vs-right{padding:20px;} 
	.vision .vs-cont1 .vs-lay .vs-right h3{font-size:18px; }
	.vision .vs-cont1 .vs-lay .vs-right h3 br{display:none}
	.vision .vs-cont1 .vs-lay .core-value ul li h4{  font-size:18px }
	.vision .vs-cont1 .vs-lay .core-value ul li:not(:last-child):after{top:6px}
	.vision .vs-cont1 .vs-lay .core-value{ }
	.vision .vs-cont1 .vs-lay .core-value ul li{ }
	.vision .vs-cont1 .vs-lay .core-value ul li p{font-size:15px}
	.vision .vs-cont1 .vs-lay .core-value ul li img{width:100%;     height: 300px;}
	.vision .vs-cont1 .vs-lay .vs-list li:first-child{font-size:20px;}
	.vision .vs-cont1 .vs-lay .vs-list b{font-size:20px;}

	.sr .sr-str .cc-box{width:300px; height:300px; margin:0 auto 30px;}
	.sr .sr-lay .ic-box{width:100%;} 
	.sr .sr-lay .ic-box li:after{left:10px; top:26px;}
	.sr .sr-lay .ic-box p{font-size:18px; padding:20px 0;}
	.sr .sr-lay .ic-box li .icon{width:100px; height:100px;}
	.sr .sr-lay .ic-box li .icon h3{font-size:13px;}
	.sr .sr-str .cc-box p{font-size:14px;}
	.sr .sr-str .cc-box h3{font-size:18px;}
	.sr .bs-box li{margin-bottom:20px;}
	.sr .bs-box li .txt{position:relative; width:100%;  height:auto; opacity:1;   padding-bottom:0;}
	.sr .bs-box li .txt p{position:relative; width:100%;  height:auto;  background:#0042bf; padding:20px; font-size:14px;}

    .sr.en .sr-str .cc-box {
        width: 300px;
        height: 300px;
        padding: 10px;
    }
    .sr.en .sr-lay .ic-box li {
        padding: 0;
        align-items: center;
    }
    .sr.en .sr-lay .ic-box li:after {
        display: none;
    }
    .sr.en .sr-lay .ic-box li .icon {
        width: 120px;
        height: 120px;
    }
}
