@charset "utf-8";

/* 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/* 폰트 */
/* 
Montserrat
Pretendard
sans-serif

30px(메인-영어) / 16px(메인-한국어) / 10px(유진라이브&모어)
 */
/* @import url("https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR:wght@100..900&family=Bagel+Fat+One&family=Black+And+White+Picture&family=Diphylleia&family=Orbit&display=swap"); */



/************* 0. 기타영역 *************/

/* 공사중 표시 */
body * {
    margin: 0 auto;
    outline: 1px dashed #f27228;
}





/************* 1. 상단영역 *************/


/**********************
 네비게이션
 - 위치 (ㅇ)
 - 오버플로우 히든
 - 마우스오버 반투명 (ㅇ)
 - 마우스오버 서서브 밑줄
**********************/
.gnb-wrap .gnb {
    display: flex;
    /* justify-content: center; */
    text-align: center;
    /* font-size: 0; */

    /* line-height: 50px; */
}

/* 세부메뉴 파란글자 */
.gnb-wrap .gnb li ul a:hover {
    opacity: .6;
    color: #0042BF;
}

/* 오버플로우 히든 하는중 */
#main-contents .gnb-wrap .gnb{
    position: relative;
    overflow: hidden;
    z-index: 1;
}




/************* 2. 메인영역 *************/
/************* 3. 하단영역 *************/

