@charset "utf-8";

/* 공유기능 요소 셋팅 (상단 네비게이션, 하단 foot) */

/* 폰트 Montserrat, Pretendard, sans-serif */
/* @import url("https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR:wght@100..900&family=Bagel+Fat+One&family=Black+And+White+Picture&family=Diphylleia&family=Orbit&display=swap"); */



/************* 0. 기타영역 *************/

/* 공사중 표시 */
body * {
    margin: 0 auto;
    outline: 1px dashed #91ff00;
}

/* 폰트 */
body, html, h1, h2, h3, h4, h5, h6, ul, dl, dt, dd, a {
    font-family: 'Montserrat';
    font-size: 1em;
    line-height: 1.6;
}


/************* 1. 상단영역 *************/


/**********************
 네비게이션
 - 위치 (ㅇ)
 - 마우스오버 파랑
 - 마우스오버 글자위 점
 - 마우스오버 서서브 밑줄
**********************/

/* 폰트 */
.gnb a {
    color: #fff;
    font-size: 1.7rem;
}

.gnb{
	display: flex;
	/* 메뉴 가로정렬 */
    line-height: 50px;
    padding: 0 30px;
    font-weight: bold; 
}

/* 메뉴바 */
.gnb-wrap .gnb {
    top: 20px;
    position: relative;
    text-align: center;
    z-index: 1; /* 이거 안하면 안보임 */
}

/* friendly 마우스오버 */
.gnb-wrap ul a:hover {
    color: red;
    transition: .3s;
}

/* friendly-talk */
.gnb-wrap .gnb ul{  
    background-color: #fff;
    height: 200px;
}

.gnb li {
    white-space: nowrap;    /* 서브메뉴 줄바꿈 방지 */
}


/* 상위메뉴 오버시 서브메뉴 보이기 */
.gnb  ul  li:hover {
    max-height: 50vh;
}


#header .gnb-wrap .gnb > li > ul > li > a {
    transition: all ease .2s;
    position: relative;
}

/* 오버시 밑줄(nav01_flex.css 참고) */
.gnb ul>li::after{
    content: '';
    display: block;
    margin-left: 100%;
	/* 마우스 나갈 때 margin-left값 밀기 */
    margin-top: 2px;
	/* 글자와의 간격 조정은 마진탑으로 */
    width: 0;
    height: 1px;
    background-color: rgb(255, 158, 158);
    transition: .3s;
}

/* 오버시 밑줄 애니 */
.uline li:hover>a::after{
    margin-left: 0;
    width: 100%;
    transition: width .3s;
}



/* copy 시작 */
/* 네비게이션 서브 흰박스 */
/* .gnb-wrap .gnb > li > ul{   
	position:absolute;  
	border-bottom:1px solid #fff; 
	background:#fff;
	padding:30px; 
	top:100px;
	left:0;
	width:100%; 
	display:flex;
	justify-content:center; 
	font-size:18px; 
} */


.gnb-wrap .gnb > li > ul > li > a{ 
	font-weight:500;
	padding:0 40px 0 0;
	display:inline-block; 
	transition:all ease .2s; 
	position:relative;
}

.gnb-wrap .gnb > li > ul > li:hover > a{
	color:#0042bf;  
}

.gnb-wrap .gnb > li > ul > li > a:before{
    content:'';
    width:5px; 
    height:5px; 
    border-radius:50%;
    background:#0042bf; 
    position:absolute; 
    left:0; 
    top:-14px; 
    opacity:0; 
    transition:all ease .3s;
}
.gnb-wrap .gnb > li > ul > li:hover > a:before{
    top:-7px; 
    opacity:1;
}

.gnb-wrap .gnb > li > ul > li > ul{
	margin:15px 0 10px;
	text-align:left;
}

.gnb-wrap .gnb > li > ul > li > ul > li{
	margin:5px 0;
}

.gnb-wrap .gnb > li > ul > li > ul > li > a{ 
	font-size:16px;
	position:relative;
}

.gnb-wrap .gnb > li > ul > li > ul > li > a:after{
    content:'';
    width:0; 
    height:1px;
    background:#111; 
    position:absolute;
    right:0;
    bottom:-5px;
    transition:all ease .3s;
} 
/* .gnb-wrap .gnb > li > ul > li > ul > li > a:hover:after{  
    right:auto; 
    left:0; 
    width:100%;
}  */
/* .all-menu .gnb-sns {
    display: flex;  
    align-items: end;
} */
/* 
/* copy 끝 */


/* 세부메뉴 */
.gnb > li > ul a:hover {
    color: #2cff25;
}




/************* 2. 메인영역 *************/
/************* 3. 하단영역 *************/
#footer {
    position: relative;
    z-index: -1;
    background: #7658fc;
    /* min-height: calc(100vh - -137rem); */
    height: 200px;
    transform: translateY(100%);
}
/* ft-top 사이버감사실,법적고지, 패밀리사이트 */
#footer .ft-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
/* ft-menu 사이버감사실, 법적고지 */
#footer .ft-top .ft-menu {
    font-size: 0;
}
#footer .ft-top .ft-menu li {
    display: inline-block;
    margin-left: 30px;
}
#footer .ft-top .ft-menu li:first-child {
    margin-left: 0;
}
#footer .ft-top .ft-menu li a {
    font-size: 16px;
    color: #fff;
}
/* ft-site 패밀리사이트 */
#footer .ft-top .ft-site {
    position: relative;
    width: 190px;
    border: 1px solid #595959;
}
#footer .ft-top .ft-site h2:after {
    content: "";
    /* position: absolute */
    right: 18px;
    top: 50%;
    width: 11px;
    margin-top: -1px;
    height: 4px;
    background: url(/img/bu/bu-family.png) no-repeat center;
}
#footer .ft-top .ft-site.open h2:after {
    transform: rotate(180deg);
}
#footer .ft-top .ft-site h2 {
    padding-left: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 48px;
    cursor: pointer;
}
#footer .ft-top .ft-site ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
}
#footer .ft-top .ft-site ul li a {
    font-size: 14px;
    color: #aaa;
    display: block;
    margin: 5px 0;
    line-height: 1.5;
}
#footer .ft-top .ft-site ul li a:hover {
    color: #abcc17;
}

/* bt-btm 정보글, sns */
#footer .ft-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 55px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#footer .ft-btm .ft-addr {
    width: calc(100% - 240px);
}
#footer .ft-btm address p {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    font-size: 14px;
    color: #aaa;
    letter-spacing: -0.25px;
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#footer .ft-btm address p:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    width: 1px;
    height: 10px;
    background: #484848;
}
#footer .ft-btm address p:first-child {
    padding-left: 0;
    margin-left: 0;
}
#footer .ft-btm p.copyright {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Poppins", sans-serif;
}
#footer .ft-btm .ft-sns {
    font-size: 0;
}
#footer .ft-btm .ft-sns li {
    display: inline-block;
    margin-left: 10px;
}
#footer .ft-btm .ft-sns li:first-child {
    margin-left: 0;
}
#footer .ft-btm .ft-sns li a {  
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #975555;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
#footer .ft-btm .ft-sns li a:hover {
    background-color: #444;
}

#footer.en .ft-btm address {
    display: flex;
    flex-direction: column;
}
#footer.en .ft-btm address p {
    padding: 0;
    margin: 0;
}
