@charset "utf-8";

@import url(./common.css);
@import url(./core.css);
@import url(./grid_12_float.css);
@import url(./reset.css);

* {
    box-sizing: border-box;
    word-break: keep-all;
}

/* 초기화 */
html,
body,
h1,
h2,
h3,
ul,
ol {
    margin: 0;
    padding: 0;
}

/* 공통클래스 : 클리어설정 */
/* 메뉴 단정하게~ */
ul::after,
ol::after,
.clb::after {
    content: "";
    display: block;
    clear: both;
}



/* 마우스 커서 */
.cursor {
    pointer-events: fill;
}
.cursor .cursor-ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 5000;
}  
.cursor .cursor-ball .text {
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    font-size:2.1rem;
    color:#ff1616;
    font-weight:700;
}
.cursor .cursor-ball circle {
    fill: #0457fe;
} 
.cursor-able {
    cursor:pointer;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cursor .cursor-ball circle{
        fill: #0042bf;
    }
}







/* 1. 메인영역 */
.main-visual .vs-bg {
    /* 메인 사진 */
    background-size: cover; /* 공사중에 꽉차게 */
    position: absolute; /* 서로 겹쳐짐 */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* background-size: cover; */
    /* transform: scale(1.1); */
    transition-duration: 3s;
    /* display: flex; */
    /* overflow: hidden; */
    opacity: 30%;
    transition: 0.5s ease-in-out;
}

/* 메인 글자 */
.vs-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
    position: absolute;
    margin: 0 auto;
    max-width: 150em;
    /* width: 100%; */
    height: 50%;
    z-index: 1;
    font-size: 50px;
    color: #fff;
    left: 5%;
}

/* 라이브 앤 모어 */
.intro-copy-con {
    transform: translate3d(0px, 0px, 0px);
    overflow: hidden;

    /* left: 0px; */
    left: 10%;
    /* top: 0px; */
    top: 20%;
    bottom: 20px;

    /* margin: 0px; */
    /* width: 1384px; */
    /* height: 3812px; */
    /* padding: 0px; */
    /* box-sizing: border-box; */
    /* max-width: 1384px; */
    /* max-height: 3812px; */
    font-size: 5rem;
    color: #0042bf;
    /* line-height: .9; */

    /* 고정 */
    /* position: sticky; */
    position: fixed;
}
.pin-spacer {
    /* 유진라이브앤모어 동영상들 */
    height: 1500px;
}

#main-intro .intro-gallery .gall-list {
    height: 100%;
}
#main-intro .intro-gallery .gall-list .gall-item {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 100%;
}
#main-intro .intro-gallery .gall-list .gall-item .gall-item-con {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#main-intro .intro-gallery .gall-list .gall-item .gall-item-con.gall-youtube a:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    -webktit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#main-intro .intro-gallery .gall-list .gall-item .gall-item-con.gall-youtube:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin-left: 6px;
    border: 8px solid transparent;
    border-left: 12px solid #fff;
    -webktit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}
#main-intro .intro-gallery .gall-list .gall-item a {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#main-intro .intro-gallery .gall-list .gall-item a:before {
    content: "";
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 39, 112, 0.65), transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
#main-intro .intro-gallery .gall-list #gall-item01 {
    padding-bottom: 17.813%;
    width: 17.813%;
    -webkit-transform: translate(160.35%, 0%);
    -moz-transform: translate(160.35%, 0%);
    -ms-transform: translate(160.35%, 0%);
    -o-transform: translate(160.35%, 0%);
    transform: translate(160.35%, 0%);
}
#main-intro .intro-gallery .gall-list #gall-item01 a {
    overflow: hidden;
    border-radius: 50%;
}
#main-intro .intro-gallery .gall-list #gall-item02 {
    padding-bottom: 38.542%;
    width: 27.6045%;
    -webkit-transform: translate(-22.6%, 0%);
    -moz-transform: translate(-22.6%, 0%);
    -ms-transform: translate(-22.6%, 0%);
    -o-transform: translate(-22.6%, 0%);
    transform: translate(-22.6%, 0%);
}
#main-intro .intro-gallery .gall-list #gall-item03 {
    padding-bottom: 16.146%;
    width: 19.792%;
    -webkit-transform: translate(134.2%, 0%);
    -moz-transform: translate(134.2%, 0%);
    -ms-transform: translate(134.2%, 0%);
    -o-transform: translate(134.2%, 0%);
    transform: translate(134.2%, 0%);
}
#main-intro .intro-gallery .gall-list #gall-item03 a {
    border-radius: 5em;
}
#main-intro .intro-gallery .gall-list #gall-item04 {
    padding-bottom: 40.625%;
    width: 27.084%;
    border-radius: 9.5em;
    -webkit-transform: translate(-23%, 0%);
    -moz-transform: translate(-23%, 0%);
    -ms-transform: translate(-23%, 0%);
    -o-transform: translate(-23%, 0%);
    transform: translate(-23%, 0%);
}
#main-intro .intro-gallery .gall-list #gall-item04 a {
    border-radius: 9.5em;
}
#main-intro .intro-gallery .gall-list #gall-item05 {
    padding-bottom: 20.834%;
    width: 20.834%;
    -webkit-transform: translate(-30%, 0%);
    -moz-transform: translate(-30%, 0%);
    -ms-transform: translate(-30%, 0%);
    -o-transform: translate(-30%, 0%);
    transform: translate(-30%, 0%);
}
#main-intro .intro-gallery .gall-list #gall-item05 a {
    border-radius: 50%;
}
#main-intro .intro-gallery .gall-list #gall-item06 {
    padding-bottom: 17.657%;
    width: 25.782%;
    -webkit-transform: translate(79.7%, 0%);
    -moz-transform: translate(79.7%, 0%);
    -ms-transform: translate(79.7%, 0%);
    -o-transform: translate(79.7%, 0%);
    transform: translate(79.7%, 0%);
}

/* 하단 타이틀 공통 */
.tit {
    font-size: 3rem;
    height: 65%;
}

/* Creative EUGENE
SNS Channel - 제목*/
.main-sns {
    color: #000;
}

/* Creative EUGENE
SNS Channel - 사진*/
.main-img {
    display: flex;
}

/* Reliable EUGENE NEWS */
.main-news {
    background-color: #0042bf;
    color: #fff;
}

/* Management Philosophy and Core Values */
.main-CoreValues {
    font-size: 4.5rem;
    color: #0042bf;
}

/* 7. 최신동영상영역 */
.main-recruit {
    height: 548px;
    color: #0042bf;
}

/* 8. 하단영역 */
#footer {
    height: 250px;
    background-color: #000;
}

.ft-menu {
    color: #fff;
    font-size: 14px;
}

.ft-addr {
    color: #aaa;
    font-size: 14px;
}
.copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}
